a:hover {
   color: #ff5316;
}
.page-links > a, .page-links > span:not(.page-links-title) {
   background: #ff5316;
}
ul.feature-list > li:after, ul.list-style-1 > li:after {
   color: #ff5316;
}
 ul.list-style-2 > li {
   color: #ff5316;
}
.pager .paginations a:hover {
   color: #ff5316;
   border-color: #ff5316;
}
.pager .paginations a.active {
   background: #ff5316;
   border-color: #ff5316;
}
.bg-theme {
   background: #ff5316 !important;
}
.bg-theme-2 {
   background: #ff5316 !important;
}
.text-theme {
   color: #ff5316 !important;
}
.hover-color-theme a:hover {
   color: #ff5316 !important;
}
.btn-theme, .btn, .btn-white, .btn-theme-2, .btn-black, input[type*="submit"]:not(.fa):not(.btn-theme), #tribe-events .tribe-events-button, .tribe-events-button {
   background: #ff5316;
}
.btn-inline {
   color: #ff5316;
}
.btn-inline span:after {
   background: #ff5316;
}
.socials a i {
   background: #ff5316;
}
.socials-2 li a i:hover {
   color: #ff5316;
}
.alert-danger {
   background: #ff5316;
}
.desc-slider a {
   color: #ff5316;
}
 #wp-footer a:hover {
   color: #ff5316;
}
.topbar .topbar-information i {
   color: #ff5316;
}
.topbar .header-right .header-social .socials > li a:hover {
   color: #ff5316;
}
.topbar .header-right .mini-cart-header .mini-cart .mini-cart-items {
   background: #ff5316;
}
.header-mobile .header-mobile-content .mini-cart-header a.mini-cart .mini-cart-items {
   background: #ff5316;
}
 ul.gva-nav-menu > li:hover > a, ul.gva-nav-menu > li:active > a, ul.gva-nav-menu > li:focus > a, ul.gva-nav-menu > li.current_page_parent > a {
   color: #ff5316;
}
 ul.gva-nav-menu > li .submenu-inner li a:hover, ul.gva-nav-menu > li .submenu-inner li a:focus, ul.gva-nav-menu > li .submenu-inner li a:active, ul.gva-nav-menu > li ul.submenu-inner li a:hover, ul.gva-nav-menu > li ul.submenu-inner li a:focus, ul.gva-nav-menu > li ul.submenu-inner li a:active {
   color: #ff5316;
}
.gavias-off-canvas-toggle {
   background: #ff5316;
}
 #gavias-off-canvas .off-canvas-top .top-social > a:hover {
   background: #ff5316;
   border-color: #ff5316;
}
 #gavias-off-canvas .off-canvas-top .gavias-off-canvas-close:hover {
   background: #ff5316;
}
 #gavias-off-canvas ul#menu-main-menu > li > a.active > a {
   color: #ff5316;
}
 #gavias-off-canvas ul#menu-main-menu > li .submenu-inner.dropdown-menu li a:hover, #gavias-off-canvas ul#menu-main-menu > li .submenu-inner.dropdown-menu li a:focus {
   color: #ff5316;
}
 #gavias-off-canvas ul#menu-main-menu > li .submenu-inner.dropdown-menu li.active > a {
   color: #ff5316;
}
.gva-offcanvas-content a:hover {
   color: #ff5316;
}
.gva-offcanvas-content .close-canvas a:hover {
   color: #ff5316;
}
.gva-offcanvas-content #gva-mobile-menu ul.gva-mobile-menu > li a:hover {
   color: #ff5316;
}
.gva-offcanvas-content #gva-mobile-menu ul.gva-mobile-menu > li.menu-item-has-children .caret:hover {
   color: #ff5316;
}
.gva-offcanvas-content #gva-mobile-menu ul.gva-mobile-menu > li ul.submenu-inner li a:hover, .gva-offcanvas-content #gva-mobile-menu ul.gva-mobile-menu > li div.submenu-inner li a:hover {
   color: #ff5316;
}
.megamenu-main .widget.widget-html ul li strong {
   color: #ff5316;
}
.col-bg-bottom-theme:after {
   background: #ff5316;
}
.col-bg-theme-inner > .elementor-column-wrap > .elementor-widget-wrap {
   background: #ff5316;
}
.col-bg-theme > .elementor-column-wrap {
   background-color: #ff5316 !important;
}
.gva-social-links.style-v2 ul.socials > li > a:hover {
   color: #ff5316;
}
.gsc-team .team-position {
   color: #ff5316;
}
.gsc-team.team-horizontal .team-header .social-list a:hover {
   color: #ff5316 !important;
}
.gsc-team.team-horizontal .team-name:after {
   background: #ff5316;
}
.gsc-team.team-vertical .team-body .info {
   background: #ff5316;
}
.post-small .post .cat-links a {
   color: #ff5316;
}
.elementor-widget-icon-box.icon-color-theme .elementor-icon, .elementor-widget-icon-box.icon-color-theme .elementor-icon-list-icon, .elementor-widget-icon-list.icon-color-theme .elementor-icon, .elementor-widget-icon-list.icon-color-theme .elementor-icon-list-icon {
   color: #ff5316;
}
.elementor-widget-icon-box.hover-color-theme a:hover, .elementor-widget-icon-list.hover-color-theme a:hover {
   color: #ff5316 !important;
}
.gva-content-horizontal .content-hover-horizontal .content-item .content .action svg {
   fill: #ff5316;
}
.gsc-career .box-content .job-type {
   background: #ff5316;
}
.gva-hover-box-carousel .hover-box-item .box-content .box-icon {
   background: #ff5316;
}
.gsc-countdown {
   background: #ff5316;
}
.gsc-icon-box .highlight-icon .box-icon {
   color: #ff5316;
}
.gsc-icon-box .highlight-icon .box-icon svg {
   fill: #ff5316;
}
.gsc-icon-box .highlight-icon .icon-container {
   color: #ff5316;
}
.gsc-icon-box-group.style-1 .icon-box-item-content .icon-box-item-inner .box-icon i {
   color: #ff5316;
}
.gsc-icon-box-group.style-1 .icon-box-item-content .icon-box-item-inner .box-icon svg {
   fill: #ff5316;
}
.gsc-icon-box-styles.style-1 .icon-box-inner .box-icon {
   background: #ff5316;
}
.gsc-icon-box-styles.style-2 .box-icon {
   background: #ff5316;
}
.milestone-block.style-2 .box-content .milestone-icon .icon {
   color: #ff5316;
}
.milestone-block.style-2 .box-content .milestone-icon .icon svg {
   fill: #ff5316;
}
.gallery-post a.zoomGallery {
   background: #ff5316;
}
.gsc-heading .heading-video .video-link {
   background: #ff5316;
}
.gsc-heading .title .highlight, .gsc-heading .title strong {
   color: #ff5316;
}
.gsc-image-content.skin-v2 .title {
   background: #ff5316;
}
.gsc-image-content.skin-v4 .box-content .read-more svg {
   fill: #ff5316;
}
.gva-posts-grid .posts-grid-filter ul.nav-tabs > li > a.active {
   color: #ff5316;
}
.gva-testimonial .testimonial-item .testimonial-content .testimonial-meta .testimonial-information span.testimonial-job {
   color: #ff5316;
}
.gva-testimonial-single.style-1 .testimonial-item .testimonial-content .testimonial-meta .testimonial-job {
   color: #ff5316;
}
.gsc-video-box.style-1 .video-inner .video-image .video-action .popup-video:hover {
   color: #ff5316;
}
.gsc-video-box.style-2 .video-inner .video-action .popup-video {
   background: #ff5316;
}
.gva-video-carousel .video-item-inner .video-link {
   background: #ff5316;
}
.gsc-pricing.style-1 .content-inner .plan-price .price-value {
   color: #ff5316;
}
.gsc-pricing.style-1 .content-inner .plan-price .interval {
   color: #ff5316;
}
.gsc-pricing.style-1 .content-inner .plan-list li .icon {
   color: #ff5316;
}
.gsc-pricing.style-2 .content-inner .price-meta .plan-price .price-value {
   color: #ff5316;
.gsc-pricing.style-2 .content-inner .price-meta .plan-price .interval {
   color: #ff5316;
}
.gva-socials ul.social-links li a {
   background: #ff5316;
}
.gsc-tabs-content .nav_tabs > li a:before {
   background: #ff5316;
}
.gsc-tabs-content .tab-content .tab-pane .tab-content-item ul > li:after {
   color: #ff5316;
}
.gva-list-number.style-2 ul.list-number li.list-number-item h3 span {
   color: #ff5316;
}
.gva-text-arrow.style-1 .content-inner .title .icon {
   color: #ff5316;
}
.gva-locations-map .makers .location-item .maker-item-inner .right .location-title:hover {
   color: #ff5316;
}
.gva-locations-map .makers .location-item .maker-item-inner:hover .location-title, .gva-locations-map .makers .location-item .maker-item-inner.active .location-title {
   color: #ff5316;
}
.gva-locations-map .makers .location-item .maker-item-inner:hover .icon, .gva-locations-map .makers .location-item .maker-item-inner.active .icon {
   color: #ff5316;
}
.gsc-work-process .box-content .number-text {
   background: #ff5316;
}
.gva-user .login-account .profile:hover, .topbar-mobile .login-account .profile:hover {
   color: #ff5316;
}
.gva-user .login-register a .icon, .topbar-mobile .login-register a .icon {
   color: #ff5316;
}
.gva-user .login-register a:hover, .topbar-mobile .login-register a:hover {
   color: #ff5316;
}
.widget .widget-title:after, .widget .widgettitle:after, .widget .wpb_singleimage_heading:after, .wpb_single_image .widget-title:after, .wpb_single_image .widgettitle:after, .wpb_single_image .wpb_singleimage_heading:after, .wpb_content_element .widget-title:after, .wpb_content_element .widgettitle:after, .wpb_content_element .wpb_singleimage_heading:after {
   background: #ff5316;
}
.color-theme .widget-title, .color-theme .widgettitle {
   color: #ff5316 !important;
}
.wp-sidebar ul li a:hover, .elementor-widget-sidebar ul li a:hover {
   color: #ff5316;
}
.wp-sidebar .post-author, .wp-sidebar .post-date, .elementor-widget-sidebar .post-author, .elementor-widget-sidebar .post-date {
   color: #ff5316;
}
 #wp-footer .widget ul li a:hover, #wp-footer .wpb_single_image ul li a:hover, #wp-footer .widget_nav_menu ul li a:hover {
   color: #ff5316 !important;
}
.widget_tag_cloud .tagcloud > a:hover {
   background: #ff5316;
}
.mailchimp-small .newsletter-form .form-left input[type="email"]:focus {
   border: 1px solid #ff5316;
}
.mailchimp-small .newsletter-form .form-right {
   background: #ff5316;
}
.mailchimp-small .newsletter-form .form-right .form-action {
   background: #ff5316;
}
.newsletter-form .form-action {
   background: #ff5316;
}
.widget_categories ul > li > a:hover, .widget_archive ul > li > a:hover, .wp-sidebar .widget_nav_menu ul > li > a:hover, #wp-footer .widget_nav_menu ul > li > a:hover, .elementor-widget-sidebar .widget_nav_menu ul > li > a:hover, .widget_pages ul > li > a:hover, .widget_meta ul > li > a:hover {
   color: #ff5316;
}
.widget_categories ul > li.current_page_item > a, .widget_archive ul > li.current_page_item > a, .wp-sidebar .widget_nav_menu ul > li.current_page_item > a, #wp-footer .widget_nav_menu ul > li.current_page_item > a, .elementor-widget-sidebar .widget_nav_menu ul > li.current_page_item > a, .widget_pages ul > li.current_page_item > a, .widget_meta ul > li.current_page_item > a {
   color: #ff5316;
}
.widget_rss ul > li a .post-date, .widget_recent_entries ul > li a .post-date {
   color: #ff5316;
}
.widget_rss > ul li .rss-date {
   color: #ff5316;
}
.opening-time .phone {
   color: #ff5316;
}
.widget_gva_give_categories_widget ul.categories-listing li:hover {
   color: #ff5316;
}
.support-box .phone a i {
   color: #ff5316;
}
.download-box a:hover {
   color: #ff5316;
}
.post-block .entry-meta .entry-date {
   color: #ff5316;
}
.post-block .tag-links > a:hover {
   background: #ff5316;
}
.post-style-2 .entry-content .entry-meta .right i {
   color: #ff5316;
}
.post-style-2 .entry-content .read-more svg {
   fill: #ff5316;
}
.post-style-2:hover .entry-content .entry-meta .left {
   border-color: #ff5316;
}
.single.single-post #wp-content > article.post .entry-meta-inner .entry-meta .cat-links a:hover {
   color: #ff5316;
}
.single.single-post #wp-content > article.post .entry-meta-inner .entry-meta .entry-date {
   color: #ff5316;
}
.single.single-post #wp-content > article.post .entry-footer .tag-links > a:hover {
   background: #ff5316;
}
.single.single-post #wp-content > article.post .post-content input[type="submit"] {
   background: #ff5316;
}
.post-navigation a:hover {
   background: #ff5316;
}
.tribe-event-list-block .tribe-event-left .content-inner .tribe-start-date {
   background: #ff5316;
}
.tribe-event-list-block .tribe-event-right .content-inner .tribe-events-event-meta .icon {
   color: #ff5316;
}
.tribe-event-list-block.v2 .event-action a {
   background: #ff5316 !important;
}
.tribe-events-single .tribe-events-schedule .icon {
   color: #ff5316;
}
.tribe-events-single .tribe-events-event-meta .tribe-event-single-detail .tribe-event-single-meta-detail > div .icon {
   color: #ff5316;
}
.tribe-events-single .tribe-events-event-meta .tribe-event-meta-bottom .event-single-organizer > .content-inner .meta-item .icon svg {
   fill: #ff5316;
}
.tribe-events-single .tribe-events-event-meta .tribe-event-meta-bottom .event-single-venue > .content-inner {
   background: #ff5316;
}
.tribe-events-single .tribe-events-event-meta .tribe-event-meta-bottom .event-single-venue > .content-inner:after {
   background: #ff5316;
}
.post-type-archive-tribe_events #tribe-events-bar #tribe-bar-form .tribe-bar-submit .tribe-events-button {
   background: #ff5316;
}
.post-type-archive-tribe_events table.tribe-events-calendar tbody td .tribe-events-tooltip .tribe-events-event-body .tribe-event-duration {
   color: #ff5316;
}
.post-type-archive-tribe_events table.tribe-events-calendar tbody td:hover {
   border-bottom: 2px solid #ff5316 !important;
}
.portfolio-v1 .images .link:hover {
   background: #ff5316;
}
.portfolio-v1 .portfolio-content .content-inner .portfolio-meta:after {
   background: #ff5316;
}
.portfolio-v1:hover .portfolio-content .content-inner, .portfolio-v1:active .portfolio-content .content-inner, .portfolio-v1:focus .portfolio-content .content-inner {
   background: #ff5316;
   border-color: #ff5316;
}
.portfolio-v2 .images .link:hover {
   background: #ff5316;
}
.portfolio-v2:hover .portfolio-content, .portfolio-v2:active .portfolio-content, .portfolio-v2:focus .portfolio-content {
   background: #ff5316;
}
.portfolio-filter ul.nav-tabs > li > a.active {
   color: #ff5316;
}
.service-block .service-icon {
   background: #ff5316;
}
.service-item-v2:hover .service-image .service-icon {
   background: #ff5316;
}
.service-item-v3:hover .service-icon {
   border-bottom-color: #ff5316;
}
.service-item-v3:hover .service-icon svg {
   fill: #ff5316;
}
.service-block-single .service-images:hover .service-icon {
   background: #ff5316;
}
.team-progress-wrapper .team__progress .team__progress-bar {
   background: #ff5316;
}
.team-progress-wrapper .team__progress .team__progress-bar .percentage {
   background: #ff5316;
}
.team-progress-wrapper .team__progress .team__progress-bar .percentage:after {
   border-top-color: #ff5316;
}
.team-block.team-v1 .team-image .socials-team a.share-social {
   background: #ff5316;
}
.team-block.team-v1 .team-content .team-job {
   color: #ff5316;
}
.team-block.team-v2 .team-image .socials-team a {
   background: #ff5316;
}
.team-block-single .heading:after {
   background: #ff5316;
}
.team-block-single .team-job {
   color: #ff5316;
}
.team-block-single .team-quote:after {
   color: #ff5316;
}
.team-block-single .socials-team a:hover {
   background: #ff5316;
   border-color: #ff5316;
}
.pagination .disabled {
   background: #ff5316;
}
.pagination .current {
   background: #ff5316;
}
.content-page-index .post-masonry-index .post.sticky .entry-content:after {
   color: #ff5316;
}
 #comments .comments-title:after {
   background: #ff5316;
}
 #comments #add_review_button,
 #comments #submit {
   background: #ff5316;
}
 #comments #reply-title {
   color: #ff5316;
}
 #comments ol.comment-list .the-comment .comment-rate .on {
   color: #ff5316;
}
 #comments ol.comment-list .the-comment .comment-info:after {
   background: #ff5316;
}
 #comments ol.comment-list .the-comment .comment-info a:hover {
   color: #ff5316;
}
 #comments ol.comment-list .the-comment .comment-reply-link {
   color: #ff5316;
}
.comment-rating .comment-star-rating > li a.active {
   color: #ff5316;
}
.pingbacklist > li .author-meta .comment-info:after {
   background: #ff5316;
}
.pingbacklist > li .author-meta .comment-info a:hover {
   color: #ff5316;
}
.owl-carousel .owl-dots .owl-dot.active, .flex-control-nav .owl-dots .owl-dot.active, .ctf-tweets .owl-dots .owl-dot.active {
   background: #ff5316;
}
 ul.nav-tabs > li > a:hover, ul.nav-tabs > li > a:focus, ul.nav-tabs > li > a:active {
   color: #ff5316;
}
 ul.nav-tabs > li.active > a {
   background: #ff5316 !important;
}
.btn-slider-white {
   color: #ff5316;
}
.btn-slider-white:hover, .btn-slider-white:focus, .btn-slider-white:active {
   background: #ff5316;
}
.tweet-1 .ctf-type-usertimeline {
   background: #ff5316;
}
.tweet-1 .ctf-type-usertimeline .ctf-tweets .ctf-item svg:hover, .tweet-1 .ctf-type-usertimeline .ctf-tweets .ctf-item i:hover {
   color: #ff5316;
}
.tweet-2 .ctf-type-usertimeline .ctf-item .ctf-tweet-text a {
   color: #ff5316;
}
.tweet-2 .ctf-type-usertimeline .ctf-item .ctf-tweet-text a:hover, .tweet-2 .ctf-type-usertimeline .ctf-item .ctf-tweet-text a:focus {
   color: #ff5316;
}
.tweet-2 .ctf-type-usertimeline .ctf-item .ctf-author-box .ctf-author-box-link .ctf-author-screenname {
   color: #ff5316 !important;
}


.woocommerce-tabs .nav-tabs > li.active > a {
   color: #ff5316;
}
.woocommerce-tab-product-info .submit {
   background: #ff5316;
}
.minibasket.light i {
   color: #ff5316;
 }
 
 table.variations a.reset_variations {
   color: #ff5316 !important;
}
.single-product .social-networks > li a:hover {
   color: #ff5316;
}
.single-product .image_frame .woocommerce-product-gallery__trigger:hover {
   background: #ff5316;
}
.single-product .image_frame .onsale {
   background: #ff5316;
}
.single-product ol.flex-control-nav.flex-control-thumbs .owl-item img.flex-active {
   border: 1px solid #ff5316;
}
.single-product .product-single-main .product-type-grouped table.group_table tr td.label a:hover, .single-product .product-single-main .product-type-grouped table.group_table tr td label a:hover {
   color: #ff5316;
}
.single-product .entry-summary .woocommerce-product-rating .woocommerce-review-link:hover {
   color: #ff5316;
}
.single-product .entry-summary .price {
   color: #ff5316;
}
.single-product .product-single-inner .cart .button, .single-product .product-single-inner .add-cart .button {
   background: #ff5316;
}
.single-product .product-single-inner .yith-wcwl-add-to-wishlist a {
   background: #ff5316;
}
.single-product .product-single-inner a.compare {
   background: #ff5316;
}
.single-product .product-single-inner form.cart .table-product-group td.label a:hover {
   color: #ff5316;
}
.single-product .product-single-inner form.cart .add-cart button {
   background: #ff5316;
}
.single-product .product_meta > span a:hover {
   color: #ff5316;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul > li.is-active a {
   color: #ff5316;
}
.woocommerce #breadcrumb a:hover {
   color: #ff5316;
}
.woocommerce-page .content-page-inner input.button, .woocommerce-page .content-page-inner a.button {
   background: #ff5316;
}
.woocommerce-cart-form__contents .woocommerce-cart-form__cart-item td.product-remove a.remove {
   color: #ff5316;
}
.shop-loop-actions .quickview a:hover, .shop-loop-actions .yith-wcwl-add-to-wishlist a:hover, .shop-loop-actions .yith-compare a:hover, .shop-loop-actions .add-to-cart a:hover {
   color: #ff5316;
}
.shop-loop-actions .quickview a:hover:after, .shop-loop-actions .yith-wcwl-add-to-wishlist a:hover:after, .shop-loop-actions .yith-compare a:hover:after, .shop-loop-actions .add-to-cart a:hover:after {
   color: #ff5316;
}
.shop-loop-price .price {
   color: #ff5316;
}
.gva-countdown .countdown-times > div.day {
   color: #ff5316;
}
.product_list_widget .minicart-close:hover {
   color: #ff5316;
}
.product_list_widget.cart_list .widget-product .name a:hover {
   color: #ff5316 !important;
}
.product_list_widget.cart_list .widget-product .remove {
   background: #ff5316;
}
.woo-display-mode > a:hover, .woo-display-mode > a:active, .woo-display-mode > a:focus, .woo-display-mode > a.active {
   background: #ff5316;
}
.filter-sidebar .filter-sidebar-inner.layout-offcavas .filter-close {
   background: #ff5316;
}
.woocommerce .button[type*="submit"] {
   background: #ff5316;
}
.widget.widget_layered_nav ul > li a:hover {
   color: #ff5316;
}
.widget.widget_product_categories li.current-cat > a {
   color: #ff5316 !important;
}
.widget.widget_product_categories ul.product-categories > li.has-sub .cat-caret:hover {
   cursor: pointer;
   color: #ff5316;
}
.widget.widget_product_categories ul.product-categories > li ul a:hover {
   color: #ff5316;
 }